/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.montserrat {
    font-family: Montserrat;
}

.cascadia-code {
    font-family: Cascadia Code;
}


/* Estilos */

.font-500 {
    font-weight: 500;
}

.font-400 {
    font-weight: 400;
}
.font-300 {
    font-weight: 300;
}