@import url('./colors.css');
@import url('./font.css');
@import url('./reset.css');

a:hover {
    text-decoration: underline;
    transition-duration: 0.3s;
}

body {
    background-color: var(--dark-white);
}

main {
    width: 583px;
    margin: auto;
}

a:hover {
    text-decoration: none;
}