* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    border: 0;
    box-sizing: inherit;
}

body,
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

button {
    cursor: pointer;
}