.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 9rem;
}

.contact h1 {
    font-size: 2rem;
}

.contact .gray-bar {
    width: 10.1rem;
    height: 0.6rem;
    margin-top: 0.6rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.contact .email {
    width: 42rem;
    height: 49px;
    border-radius: 14px;
    font-size: 1.7rem;
    padding-left: 3rem;
}


.contact .mensage {
    width: 42rem;
    height: 20rem; 
    border-radius: 14px;
    font-size: 1.7rem;
    padding-left: 3rem; 
    padding-top: 2rem;
    padding-right: 3rem;
    resize: none; 
    overflow-y: auto; 
    margin-top: 2rem; 
}

.email:focus {
    outline-color: rgb(151, 149, 149);
}

.mensage:focus {
    outline-color: rgb(151, 149, 149);
}

.contact button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 5rem;
    border-radius: 14px;
    margin-top: 2rem;
    align-self: flex-end;
    transition: 0.3s;
}

.contact button span {
    font-size: 1.5rem;
    margin-left: 2rem;
}

.contact button:hover {
    background-color: rgb(209, 209, 209);
    transform: translateY(-3px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 9rem;
    margin-top: 9rem;
}

.icon-bar {
    margin: auto;
    width: 55px;
    height: 7px;
    margin-top: 0.5rem;
}

.social-icons img {
    cursor: pointer;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: translateY(-5px);
}