
.first-section h1 {
    font-size: 3.5em;
}

.first-section p {
    margin-top: 1rem;
    font-size: 1.84em;
}

.first-section button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 5.4rem;
    border-radius: 19px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.25);
    margin-top: 2.5rem;
}

.first-section button span {
    font-size: 2rem;
    margin-left: 1rem;
}

.first-section button:hover  {
    background-color: rgb(223, 223, 223);
    box-shadow: 0px 3px 0px 0px #D9D9D9;
    transform: translatey(-5px);
    transition: 0.2s;
}
