footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Define a cor do realce do toque como transparente */
}

.final-footer {
    font-size: 1.4rem;
    margin-top: 9rem;
    margin-bottom: 3rem;
}