header {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 156px;
}

header img {
    width: 34px ;
    height: 34px;
    cursor: pointer;
}

header a {
    font-size: 1.7em;
    margin: 2rem;
}